body {
	margin: 0;
	background-image: url("assets/fundo.png");
	background-size: 18px;
	color: white;
}
main {
	margin: 8px;
}

.navbar {
    padding: 14px 28px;
	background: linear-gradient(180deg,rgba(199, 78, 82, 1) 0%, rgba(212, 49, 49, 1) 50%, rgba(170, 27, 31, 1) 100%);

}
.navdiv {
	display: flex;
	align-items: center;
}
.logo img {
	height: 64px;
	width: auto;
	
}
li {
	list-style: none;
	display: inline-block;
}
li a {
	color: white;
	font-weight: bold;
	font-size: 24px;
    text-decoration: none;
	text-shadow: 2px 2px black;
    padding: 14px 16px;
}
li a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg,rgba(199, 78, 82, 1) 0%, rgba(212, 49, 49, 1) 50%, rgba(170, 27, 31, 1) 100%);
	border-radius: 30px;
}
