@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
}

body {
	margin: 0;
	background-image: url("assets/fundo.png");
	background-size: 18px;
	color: white;
	font-family: "Archivo Black", sans-serif;
}
html {
	font-size: 18px;
}
main {
	margin: 0px;
}

.navbar {
    padding: 14px 28px;
	background: linear-gradient(180deg,rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);
	filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.2));

}
.navdiv {
	display: flex;
	align-items: center;
}
li {
	list-style: none;
	display: inline-block;
}
li a {
	color: white;
	font-weight: bold;
	font-size: 24px;
    text-decoration: none;
	text-shadow: 2px 2px black;
    padding: 14px 16px;
}
li a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
	linear-gradient(120deg,rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);
	border-radius: 30px;
}

.hero {
	width: 100%;
	height: 65vh;
	background: 
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url("https://plus.unsplash.com/premium_photo-1668618295237-f1d8666812c9?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center / cover;
}
.container {
	width: 90%;
	height: 100%;
	max-width: 780px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.container .info h1 {
	font-size: 2.2rem;
}
.container .info p {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
}
.container .info a {
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	background: linear-gradient(120deg,rgba(255, 217, 0, 1) 0%, rgba(255, 174, 0, 1) 100%);
	border-radius: 24px;
	color: black;
	margin-top: 1rem;
	padding: 14px 16px;
}
.container .info a:hover {
	background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
}


#cardapio, #contato {
	width: 100%;
	height: auto;
}

.cardapio-container, .contato-container, .email-container{
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
}

.email-container {
	margin-top: 2em;
}
.cardapio-container h2, .contato-container h2, .email-container h2{
	font-size: 2rem;
}

.cardapio-container p, .contato-container p, .email-container p{
	margin: 0;
	padding: 0;
	font-size: 1.2rem;

}
.card {
	border: 8px solid transparent;
	border-image: url("assets/border.png") 20% round;
	margin: 10px;

}
.card-content {
	max-width: 360px;
	height: 30rem;
	font-weight: bold;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	linear-gradient(120deg,rgba(232, 42, 42, 0.2) 0%, rgba(179, 18, 23, 0.2) 100%);
	/*background: linear-gradient(120deg,rgba(179, 18, 23, 0.8) 0%, rgba(110, 10, 13, 0.8) 100%);*/
}
.card-content h2 {
	font-size: 1.5rem;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	text-align: left;
}
.card-content p {
	font-size: 1.3rem;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	text-align: left;
	color: rgba(212, 212, 212, 1);
}

.card-content img {
	width: 320px;
	height: 320px;
}

#card-container {
	text-align: center;
}
.card-category {
	display: flex;
	flex-wrap: wrap;
	/*max-width: 720px;*/
	width: 90%;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	margin-top: 24px;
}
.card-button {
	text-decoration: none;
	display: inline-block; 
	visibility: hidden;
	font-size: 1.3rem;
	font-weight: bold;
	background: linear-gradient(120deg,rgba(255, 217, 0, 1) 0%, rgba(255, 174, 0, 1) 100%);
	border-radius: 24px;
	border: none;
	color: black;
	cursor: pointer;
	margin-top: 1rem;
	padding: 12px 20px;
}
.card:hover .card-button {
	visibility: visible;
}
.card-button:hover {
	background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
}

form {
	/*padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;*/
	max-width: 680px; 
	margin: 0 auto;
    background: rgba(0,0,0, 0.5);
    border-radius: 16px; 
	padding: 18px;

}
fieldset {
	border: 0;
}
.campo label { 
	margin-bottom: 0.8em;
}
.grupo {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 10px;
	border-radius: 16px;
}
.campo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 8px;
}
form button {
  background: linear-gradient(120deg, rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer;
}
form button:hover { 
	background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
	color: black;
}

.campo input[type="text"], input[type="email"], input[type="tel"], .campo select, .campo textarea {
	border-radius: 10px;
	border: 0;
	padding: 10px;
	display: block;
	resize: none;
}
/*input, select, textarea, button {
	border-radius: 16px;
}
.campo {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;
}
.campo label {
	margin-bottom: 0.8em;
	display: inline-block;
}
.campo input[type="text"], input[type="email"], input[type="tel"], .campo select, .campo textarea {
	border: 2px solid black;
	display: block;
}*/

footer {
	margin-top: 2em;
	padding: 24px 24px;
	text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
	linear-gradient(120deg,rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);
}
