body {
	margin: 0;
	background-image: url("assets/fundo.png");
	background-size: 18px;
	color: white;
}
html {
	font-size: 18px;
}
main {
	margin: 8px;
}

.navbar {
    padding: 14px 28px;
	background: linear-gradient(180deg,rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);

}
.navdiv {
	display: flex;
	align-items: center;
}
li {
	list-style: none;
	display: inline-block;
}
li a {
	color: white;
	font-weight: bold;
	font-size: 24px;
    text-decoration: none;
	text-shadow: 2px 2px black;
    padding: 14px 16px;
}
li a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
	linear-gradient(120deg,rgba(232, 42, 42, 1) 0%, rgba(179, 18, 23, 1) 100%);
	border-radius: 30px;
}

.hero {
	width: 100%;
	height: 65vh;
	background: 
	linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url("https://plus.unsplash.com/premium_photo-1668618295237-f1d8666812c9?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center / cover;
}
.container {
	width: 90%;
	height: 100%;
	max-width: 780px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.container .info h1 {
	font-size: 2rem;
}
.container .info p {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
}
.container .info a {
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	background: linear-gradient(120deg,rgba(255, 217, 0, 1) 0%, rgba(255, 174, 0, 1) 100%);
	border-radius: 24px;
	color: black;
	margin-top: 1rem;
	padding: 14px 16px;
}
.container .info a:hover {
	background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
}

.card {
	margin: 10px;
	max-width: 360px;
	height: 30rem;
	box-sizing: border-box;
	overflow: hidden;
	border: 8px solid transparent;
	border-image: url("assets/border.png") 20% round;
	text-align: center;
	/*background: linear-gradient(120deg,rgba(179, 18, 23, 0.8) 0%, rgba(110, 10, 13, 0.8) 100%);*/
}
.card h2 {
	font-size: 1.5rem;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	text-align: left;
}
.card p {
	font-size: 1.3rem;
	padding-top: 16px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	text-align: left;
	color: rgba(212, 212, 212, 1)
}

#card-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 720px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	margin-top: 24px;
}
.card-button {
	text-decoration: none;
	display: inline-block; 
	visibility: hidden;
	font-size: 1.3rem;
	background: linear-gradient(120deg,rgba(255, 217, 0, 1) 0%, rgba(255, 174, 0, 1) 100%);
	border-radius: 24px;
	color: black;
	margin-top: 1rem;
	padding: 16px 20px;
}
.card:hover .card-button {
	visibility: visible;
}
.card-button:hover {
	background: linear-gradient(120deg,rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%);
}

.card img {
	width: 320px;
	height: 320px;
}
